@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro-bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro-light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
