{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": true,
    "endOfLine": "lf"
}
